<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{data.title}}</mat-card-title>
      <mat-card-subtitle>{{data.subtitle}}</mat-card-subtitle>
    </mat-card-header>
    <img class="photo" mat-card-image src="{{data.src || 'https://material.angular.io/assets/img/examples/shiba2.jpg'}}" 
    alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p style="text-align: center;">
        {{data.text}}
        
          <button *ngIf="data.option && data.option.one" mat-button  (click)="sendMessage(data.option.one)">{{data.option.one}}</button>
          <button *ngIf="data.option && data.option.two" mat-button (click)="sendMessage(data.option.two)">{{data.option.two}}</button>
         <a href="data.addtionalOption[0].link" *ngIf="data.additionalOption" mat-button>{{data.additionalOption[0].text}}</a>
         <a href="data.addtionalOption[1].link" *ngIf="data.additionalOption" mat-button>{{data.additionalOption[1].text}}</a>
      </p>
    </mat-card-content>
    
  </mat-card>